
/* Navbar start */
nav {
  display: flex;
  justify-content: space-between;
  font-family: "Geist", sans-serif;
  padding: 10px;
  /* background-color: red; */
}
.navLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.navLogo img{
  width: 27px;
}
.navLogo span{
  font-size: 20px;
  font-weight: 700;
}
.NavItem {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.NavList {
  display: flex;
  gap: 1.3rem;
  list-style: none;
}
/* Navbar end */

.Hero{
  /* background-color: palevioletred; */
  height: 600px;
  background-image: linear-gradient(90deg,rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.3) 100%), url(./../assets/img/hero\ .avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.HeroPage{
  font-family: "Geist", sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 170px;

}
.HeroPage h1{
  width: 700px;
  font-size: 60px;
  color: white;
  line-height: 1;
}
.HeroPage p{
   width: 700px;
   margin: 20px 0 20px 0;
  font-size: 20px;
  color: white;
  line-height: 1.3
}
.btnDiv{
  display: flex;
  gap: 1rem;
  /* align-items: center; */
}
.expBtn{

  background-color: black;
  color: white;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 14px 30px;
  font-size: 16px;
  cursor: pointer;
}
.LearnBtn{

  background-color: rgba(231, 231, 231, 0.26);
  color: white;
  outline: none;
  border: 1px solid white;
  border-radius: 6px;
  padding: 14px 35px;
  font-size: 16px;
  transition: 0.3s ease;
}
.LearnBtn:hover{
  background-color: rgba(231, 231, 231, 0.329);
cursor: pointer;
}
